body {
  font-family: var(--sl-font-sans);
}

sl-button {
  width: 100%;
}

sl-button.delete-card {
  width: initial;
  margin-left: 20px;
}

.form-group,
#test-container {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

ul#cards  {
  padding: 0;
  list-style: none;

  li + li {
    margin-top: 20px;
  }
}
