<article class="teaser">
  <h2>Let artificial intelligence power-up your visual memory</h2>

  <p>By generating <strong>visual prompts</strong> alongside your content, Flashcards helps you to remember important information for exams, presentations and meetings. And by picking from a hand-curated set of extra modifications to jazz-up your images, it even <strong>makes learning fun.</strong></p>

  <p>Ever wanted to see how your revision notes would look <strong>visualised in outer space?</strong> Or drawn by master Dutch painter, Vincent van Gogh? Now's your chance!</p>

  <div class="image-fan">
    <%= image_tag 'bigbird.png', alt: 'Big Bird from Sesame Street in a cartoon style' %>
    <%= image_tag 'pacific.png', alt: 'Ocean wave in a simplistic painting style' %>
    <%= image_tag 'tennis.png', alt: 'A tennis player in space' %>
  </div>

  <p>Traditional flashcards are short prompts and answers written on a card. A technique long-used by hard-working students, this technique can help you retain key information, especially when reviewed at spaced intervals.</p>

  <p>Flashcards refreshes that idea for the 21st century with a visual pop. First, we scan each flash card for keywords. Then this information is passed to an image generation engine, along with some <strong>sylistic flair</strong> courtesy of our library of modifier words.</p>

  <p>After you've built out your deck, you'll need to get to work exercising your brain by starting a test. When testing, each image is shown alongside the text, <strong>enhancing visual memory</strong> and pushing your recall ability to the next level.</p>

  <p>Take your memory to the next level by signing up, today.</p>
</article>
