<article>
  <h2>Let artificial intelligence power-up your visual memory</h2>

  <p>By generating visual prompts alongside your content, Flashcards helps you to remember important information for exams, presentations and meetings. And by picking from a hand-curated set of extra modifications to jazz-up your images, it even makes learning fun.</p>

  <p>Traditional flashcards are short prompts and answers written on a card. A technique long-used by hard-working students, this technique can help you retain key information, especially when reviewed at spaced intervals.</p>

  <p>Flashcards brings that idea kicking and screaming into the 21st century with a visual pop. Each flash card is scanned for keywords, then has a randomly chosen modifier added. Finally, this information is passed to an image generation engine. The results are stored with each card. When you start a test, the image is shown alongside the text, enhancing your visual memory and pushing your recall ability to the next level.</p>

  <p>Bring your memory game to the next level today and sign up.</p>
</article>
