<h1>Add Card</h1>

<%= form_with url: false, id: "new-card-form" do |form| %>
  <%= form.label :front_text, "Front Text" %>
  <%= form.text_area :front_text, required: true %>

  <%= form.submit "Next" %>
<% end %>
