<h1>Add Card</h1>

<%= form_with url: false, id: "new-2-card-form" do |form| %>
  <%= form.label :back_text, "Back Text" %>
  <%= form.text_area :back_text, required: true  %>

  <%= form.submit "Create" %>
<% end %>
