* {
  box-sizing: border-box;
}

body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  background-color: #efefdd;
}

.alert {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert-success {
  border: 1px solid green;
}

.alert-danger {
  border: 1px solid red;
}

.main {
  width: 500px;
  margin: 4rem auto;
}

@media (max-width: 500px) {
  .main { width: 100%; }
}

form,
button,
input,
textarea {
  width: 100%;
}

button.delete-card {
  width: initial;
}

form label,
form textarea {
  display: block;
}

button,
input[type="submit"],
input,
textarea {
  font-size: 1rem;
}

#cards {
  padding: 0;
}

#cards > * + * {
  margin-top: 1rem;
}

#cards > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="submit"] {
  margin-top: 3rem;
}

.controls {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  align-items: center;
}

.controls > * {
  display: block;
}

.controls > * + * {
  margin-top: 2rem;
}

#test-container {
  width: 100%;
  text-align: center;
  padding: 100px 0;
  background-color: gainsboro;
  box-shadow: 4px 4px 2px gray;
}
