<h1>My Deck</h1>

<ul id="cards"></ul>

<div class="controls">
  <a href=<%= new_deck_cards_path %> id="add-new-card">Add New Card</a>
  <button type="button" id="start-test">Start Test</button>
</div>
