<div class="app-container">
  <div class="form-group">
    <a href="#" id="card-deck-summary-link"></a>
  </div>

  <ul id="cards"></ul>

  <a href=<%= new_deck_cards_path %> id="add-new-card">Add New Card</a>
  <button type="button" id="start-test">Start Test</button>
</div>
