<h1>My Deck</h1>

<% if @deck.cards.length.positive? %>
  <%= render partial: "cards/cards", locals: { cards: @deck.cards, deck_id: @deck.id } %>
<% else %>
  <p id="cards" data-deck-id="<%= @deck.id %>">You don't have any cards yet</p>
<% end %>

<div class="form-group">
  <%= link_to "Add New Card", new_deck_card_path, class: "button" %>
</div>

<div class="form-group">
  <%= link_to_if @deck.cards.length.positive?, "Start Test", test_deck_path, class: "button primary" %>
</div>
