<h1>My Deck</h1>

<% if @cards.length.positive? %>
  <%= render partial: "cards/cards", locals: { cards: @cards } %>
<% else %>
  <p>You don't have any cards yet</p>
<% end %>

<div class="controls">
  <%= link_to "Add New Card", new_deck_card_path %>

  <%= link_to_if @cards.length.positive?, "Start Test", test_deck_path %>
</div>
