<div class="app-container">
  <div>
    <%= link_to "Back", deck_path, id: "back-link" %>
  </div>

  <div id="test-container"></div>

  <div class="form-group">
    <button id="flip-card" variant="primary">Flip Card</button>
  </div>

  <div class="form-group">
    <button id="next-card" variant="neutral">Next Card</button>
  </div>
</div>
