<h1>Test</h1>

<div data-controller="deck-test">
  <div id="test-container" data-deck-test-target="testContainer"></div>

  <div class="controls">
    <button data-action="click->deck-test#flipCard">Flip Card</button>
    <%=
      button_tag "#{ @card_count == 1 ? 'End Test' : 'Next Card' }",
        class: 'primary',
        data: {
          action: 'click->deck-test#onClickShowNextCard',
          'deck-test-target': "showNextCardButton"
        }
    %>
  </div>
</div>
